[class^= 'container'],
[class^= 'col']{
  border: 1px dashed black;
}

:root{
  --header: #2c3e50;
  --jumbo: #1abc9c;
}




/*****************
      UTILITIES
*****************/
.container-custom{
  margin: 0 auto;
}

li{ 
  list-style: none;
}

a{
  text-decoration: none;
}
/*****************
      UTILITIES
*****************/

/* HEADER */
header{
  height: 90px;
  background-color: var(--header);
}

.burger i{
  border: 1px solid white;
  color: grey;
}
/* HEADER */

.jumbo{
  background-color: var(--jumbo);
}

img{
  width: 200px;
  height: 200px;
}