[class^= 'container'],
[class^= 'col']{
  border: 1px dashed black;
}

:root{
  --header: #2c3e50;
  --jumbo: #1abc9c;
  --social:#3a546d;
}




/*****************
      UTILITIES
*****************/
.container-custom{
  margin: 0 auto;
  width: 70%;
}

li{ 
  list-style: none;
}

a{
  text-decoration: none;
}
/*****************
      UTILITIES
*****************/

/* HEADER */
header{
  height: 90px;
  background-color: var(--header);
}

.burger i{
  border: 1px solid white;
  color: grey;
}
/* HEADER */

/* JUMBO */
.jumbo{
  background-color: var(--jumbo);
}
/* /JUMBO */

.card{
  background-color: red;
}

/* ABOUT */
.about{
  background-color: var(--jumbo);
}
/* /ABOUT */


.social{
  background-color: var(--social);
}

footer{
  background-color: var(--header);
}